SCHEMATIC START ;
// created by map version E.35 on Tue Sep 17 16:23:06 2002 
COMP "s<6>" LOCATE = SITE "P19" LEVEL 1; 
COMP "s<5>" LOCATE = SITE "P18" LEVEL 1; 
COMP "s<4>" LOCATE = SITE "P23" LEVEL 1; 
COMP "s<3>" LOCATE = SITE "P20" LEVEL 1; 
COMP "s<2>" LOCATE = SITE "P24" LEVEL 1; 
COMP "s<1>" LOCATE = SITE "P26" LEVEL 1; 
COMP "s<0>" LOCATE = SITE "P25" LEVEL 1; 
COMP "d<3>" LOCATE = SITE "P47" LEVEL 1; 
COMP "d<2>" LOCATE = SITE "P46" LEVEL 1; 
COMP "d<1>" LOCATE = SITE "P45" LEVEL 1; 
COMP "d<0>" LOCATE = SITE "P44" LEVEL 1; 
SCHEMATIC END ;
